__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
*.env

*.log
logs/
wandb/

*.ckpt
*.pt
*.pth
models/*.pt
models/*.pth
models/*.ckpt

.ipynb_checkpoints/

data/*.csv
data/*.npz
data/cache/
data/*.pickle
*.npy

lightning_logs/
tensorboard/

.DS_Store
Thumbs.db
